
<head>
  <title>ARUNRAJ SADASIVAM</title>
  <meta charset="UTF-8">
</head>
<script>
  function goBack(){
    window.history.back();
  }
</script>

<h1 style="font-family:monospace; font-size:30px;text-align:left;">
A list of things about me
</h1>


  <p style="font-family:monospace; font-size:25px;text-align:left;">To view picture of mine <a href="pic.htm" target="_blank">Click here</a></p>
  <p style="font-family:monospace; font-size:25px;text-align:left;">From India</p>
  <p style="font-family:monospace; font-size:25px;text-align:left;">Pursing Undergraduate in Electrical Engineering</p>
  <p style="font-family:monospace; font-size:25px;text-align:left;">Interested in Web Development</p>
<P> Hello World </p>

<p style="font-family:monospace; font-size:30px;text-align:left;">
  <strong>Profile Links</strong>
</p>
<p style="font-family:monospace; font-size:25px;text-align:left;">To view my linkedin profile <a href="https://www.linkedin.com/in/arunraj-sadasivam-a161851aa/" target="_blank">Click here</a>.</p>
<p style="font-family:monospace; font-size:25px;text-align:left;">To view my Facebook profile <a href="https://www.facebook.com/profile.php?id=100005945684871" target="_blank">click here</a>.</p>
<p style="font-family:monospace; font-size:25px;text-align:left;">To view my Instagram profile <a href="https://www.instagram.com/the_ns_rod_runner/" target="_blank">Click here</a>.</p>


<body style="border-style:solid; border-color:DarkSlateGray; border-width:3px;background-color: CadetBlue;text-align:center;">
<p style="font-family:monospace; font-size:25px;text-align:center;"> <a href="{%url 'home' %}"><b>Home Page</b></a></p>
<button onclick="goBack()" style="font-family:monospace; font-size:25px;text-align:center;">Back</button>
</body>
